<li>
    {{this.burger_name}}

    <button class="trash btn-danger" data-id="{{this.id}}" data-devoured="{{this.devoured}}">
        Delete!
        {{#if devoured}}{{else}}<i class="fas fa-trash"></i>{{/if}}
    </button>
</li>